@import "tailwindcss";

:root {
  --foreground: #171717;
  --bg-gradient-start: #e6e9f0;
  --bg-gradient-end: #eef1f5;
  --font-sans: var(--font-founders);
  --font-text: var(--font-founders-text);
  --font-mono: var(--font-founders-mono);
}

body {
  background: linear-gradient(
    to top,
    var(--bg-gradient-start) 0%,
    var(--bg-gradient-end) 100%
  );
  color: var(--foreground);
  font-family: var(--font-sans);
}
