@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --foreground: #171717;
  --bg-gradient-start: #e6e9f0;
  --bg-gradient-end: #eef1f5;
  --font-sans: var(--font-founders);
  --font-text: var(--font-founders-text);
  --font-mono: var(--font-founders-mono);
  --primary: #136fa3;
  --secondary: #4f575b;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

html {
  overscroll-behavior: none;
}

body {
  background: linear-gradient(
    to top,
    var(--bg-gradient-start) 0%,
    var(--bg-gradient-end) 100%
  );
  color: var(--foreground);
  font-family: var(--font-sans);
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: auto;
}

::-webkit-scrollbar {
  /* display: none; */
}

/* Kill default slick UI noise */
.slick-dots,
.slick-arrow {
  display: none !important;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto;
  will-change: transform;
}
