@import "tailwindcss";

:root {
  --foreground: #171717;
  --bg-gradient-start: #e6e9f0;
  --bg-gradient-end: #eef1f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-founders);
  --font-text: var(--font-founders-text);
  --font-mono: var(--font-founders-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(
    to top,
    var(--bg-gradient-start) 0%,
    var(--bg-gradient-end) 100%
  );
  color: var(--foreground);
}
